@import 'colors';
@import 'fonts';

// bower:scss
// endbower

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 1600px;
  font-family: $open-sans;
}

.Header {
  background-color: $bg-darkGrey;

  .Header-inner {
    padding: 25px 100px;

    .Header-logo {
      float: left;
    }

    .Nav {
      float: right;

      .Nav-list {
        margin: 0;

        .Nav-search {
           width:45px;
        }

        .Nav-listItem {
          display: inline-block;
          padding-right: 25px;
          list-style: none;

          &:last-child {
             vertical-align: bottom;
             padding: 0 0 0 40px;
          }

          .Nav-link {
            font-size: 11px;
            letter-spacing: 3.4px;
            line-height: 19px;
            text-decoration: none;
            text-transform: uppercase;
            color: $header-text;

            &:hover {
              color: #3498DB;
            }
          }

          .Search-form {
            height: 22px;

            .Search-icon {
              content: '';
              display: block;
              background: url(../images/search.svg) no-repeat;
              width: 23px;
              height: 23px;
              cursor: pointer;
            }

             .Search-input {
              transition: all 0.2s ease-out;
              width: 1px;
              border-radius: 0;
              box-shadow: none;
              outline: none;
              padding: 0;
              margin: 0;
              border: 0;
              background-color: transparent;
              opacity: 0;

              &:focus {
                width: 80px;
                opacity: 1;
              }
            }
          }
        }
      }
    }



    .Header-main {
      margin: 270px auto 50px auto;
      text-align: center;
      color: $header-text;
      width: 50%;

      .Header-intro {
        font-family: $raleway;
        font-size: 11px;
        letter-spacing: 3.4px;
        line-height: 24px;
        text-transform: uppercase;
      }

      .Header-title {
        font-weight: 300;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 58px;
      }
      .Header-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/arrow-down.svg) no-repeat;
        width: 31px;
        height: 31px;
        margin: 200px auto 0 auto;
      }
    }
  }
}

.Section {
  font-family: $open-sans;
  font-weight: 300;

  .Section-title {
    font-size: 32px;
    color: $section-title;
    line-height: 44px;
  }

  .Section-text {
    font-size: 15px;
    color: $section-text;
    line-height: 30px;
  }
}

.Section-one {
  text-align: center;
  margin: 73px auto 94px auto;
  width: 56%;
}

.Section-two {
  width: 100%;
  background-color: $bg-darkGrey;
  box-sizing: border-box;
  display: flex;

  .Section-blockLeft {
    width: 50%;
    float: left;
  }

  .Section-blockRight {
    background: $bg-lightGrey;
    width: 50%;
    float: right;
    padding: 140px 22px 140px 78px;
  }
}

.Section-three {
  text-align: center;
  margin: 87px auto 70px auto;
  width: 100%;

  img {

    &.mix {
      display:none;
transition: width 0.2s, height 0.04s;    }
  }
}

.Section-tab {
  display: block;
  padding: 0;;
  list-style: none;
  margin: 55px 0;

  button  {
    display: inline-block;
    font-family: $raleway;
    font-size: 11px;
    letter-spacing: 3.4px;
    line-height: 11px;
    text-transform: uppercase;
    margin-right: 50px;
    border: 3px solid transparent;
    padding-bottom: 8px;
    color: $blue-text;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #fff;

    &:last-child {
      margin-right: 0
    }

    &:active, &:hover, &:visited, &:focus {
      color: #3498db;
      border-bottom: 3px solid $blue-text;
      padding-bottom: 8px;
      outline: none;
    }
  }
}


.grid-item img {
    height: auto;
    display: block;
}

.grid {
  margin: 1rem 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
}






