@import 'colors';

// bower:scss
// endbower


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  max-width: 1600px;
}

.Header {
  background-color: $bg-grey;

  .Header-inner {
    padding: 25px 100px;

    .Header-logo {
      float: left;
    }

    .Nav-section {
      float: right;

      .Nav-list {
        margin: 0;

        .Nav-search {
           width:45px;
        }

        .Nav-listItem {
          display: inline-section;
          padding: 0 25px;
          list-style: none;

          .Nav-link {
            font-family: OpenSans;
            font-size: 11px;
            letter-spacing: 3.4px;
            line-height: 19px;
            text-decoration: none;
            text-transform: uppercase;
            color: $header-text;

            &:hover {
              color: #3498DB;
            }
          }
        }
      }
    }

    .Header-search {
      display: inline-block;
    }

    .Header-main {
      margin: 270px auto 50px auto;
      text-align: center;
      color: $header-text;
      width: 50%;

      .Header-intro {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        letter-spacing: 3.4px;
        line-height: 24px;
        text-transform: uppercase;
      }
      .Header-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 58px;
      }
      .Header-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/arrow-down.png) no-repeat;
        width: 31px;
        height: 31px;
        margin: 200px auto 0 auto;
      }
    }
  }
}

.Section-one {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 73px auto 94px auto;
  width: 56%;

  .Section-title {
    font-size: 32px;
    color: $section-title;
    line-height: 44px;
  }

  .Section-text {
    font-size: 15px;
    color: $section-text;
    line-height: 30px;
  }
}



